<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Set the robot description parameter using xacro -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find robomuse_description)/urdf/robomuse.xacro" />

    <!-- Arguments for spawn position -->
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.1"/>

    <!-- Spawn the robot in Gazebo -->
    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model robomuse -x $(arg x) -y $(arg y) -z $(arg z)" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />

</launch>

